:root {
    --primaryColor: #8C6FDB;
    --secondaryColor: #6B46D1;
    --black: #000000;
    --white: #ffffff;
}

@media (max-width: 575.98px) {
    .firebaseui-form-actions {
        display: flex;
        flex-direction: column-reverse;
        white-space: normal;
    }
    .navbar {
        padding: 1em 1.5em;
    }
    .navbar-nav {
        margin-top: 2em;
    }
    .navbar-nav .nav-item {
        padding: 0;
    }
    .navbar-nav .nav-item .nav-link {
       padding: 1.2rem 0;
    }
    .navbar .navbar-brand img {
        height: 40px;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption {
        top: 40%;
        left: 10%;
        right: 10%;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption #descHead {
        display: none;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption #mobHead {
        display: block;
        font-size: 3em;
        margin-bottom: 1em;
    }
    .footer {
        padding: 1em 2em;
    }
    .wrapper {
        padding: 1.5em 2em;
    }
    .wrapper #welcomeUser {
        margin-bottom: 1em;
    }
    .wrapper #eventHeading {
        font-size: 1.8em;
        font-weight: 600;
        margin-bottom: 1.5em;
    }
    .row .sideNav.col-lg-4,
    .row .navContent.col-lg-8 {
        width: 100%;
    }
    .row .sideNav {
        position: relative;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 10rem;
        background-color: var(--white);
        margin-left: 0;
    }
    .row .navContent {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 10rem;
        background-color: var(--white);
        margin-left: 0;
    }
    .row .sideNav h3 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--black);
    }
    .row .sideNav .sideNavMenu .accNavLink {
        opacity: 1;
    }
    .row .sideNav .sideNavMenu .accNavLink a h5 {
        color: var(--black);
        font-size: 1.5rem;
    }
    .row .sideNav .sideNavMenu .accNavLink hr {
        color: var(--black);
    }
    .row .sideNav .sideNavMenu .accNavLink a .accIcon.desk {
        display: none;
    }
    .row .sideNav .sideNavMenu .accNavLink a .accIcon.mob{
        display: block;
    }
    .row .sideNav .sideNavMenu .accNavLink.deskProfile {
        display: none;
    }
    .row .sideNav .sideNavMenu .accNavLink.mobProfile {
        display: block;
    }
    .row .desk {
        display: none;
    }
    .row .navContent.mob .returnBack {
        display: block;
        color: var(--secondaryColor);
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: 14px;
        font-size: 1.2rem;
        padding-bottom: 2.5rem;
    }
    .row .navContent h2 {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .row .navContent .editProfileForm .form-row .form-group label {
        font-size: 1rem;
    }
    .row .navContent .editProfileForm .form-row .form-group .form-control {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .wrapper-login {
        margin-top: 10em;
        padding: 1.5em 1.5em;
        margin-bottom: 3em;
    }
    .wrapper-login .firebaseui-button {
        width: 100%;
        margin-left: 0;
    }
    .row .navContent.contactContainer {
        margin-left: 0;
    }
    .row .contact-content .overlay-dark {
        padding-left: 2em;
        padding-right: 2em
    }
    #eventHero,
    #eventHeroCheck {
        height: 92vh;
    }
    #eventHero #eventOverlay .eventHeader,
    #eventHeroCheck #eventOverlay .eventHeader {
        padding: 0rem 2rem;
    }
    #eventHero #eventOverlay .eventHeader h1,
    #eventHeroCheck #eventOverlay .eventHeader h1 {
        font-size: 1.7rem;
        font-weight: 700;
        bottom: 10rem;
    }
    #eventHero #eventOverlay .eventHeader a,
    #eventHeroCheck #eventOverlay .eventHeader a {
        font-size: 1rem;
        bottom: 14rem;
    }
    #eventHero #eventOverlay .eventHeader #eventDate,
    #eventHeroCheck #eventOverlay .eventHeader #eventDateCheck { 
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1.5rem 3rem;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        background-color: rgba(141, 112, 219, 0.8);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .eventWrapper {
        margin-top: 2.5rem;
        margin-bottom: 7rem;
    }
    .eventWrapper .eventContent .eventDescRow {
        padding: 0.7rem 0;
    }
    .eventWrapper .eventContent .eventDescRow h3 {
        font-size: 1.7rem;
    }
    .eventWrapper .eventContent .eventDescRow p {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--black);
        line-height: 2rem;
    }
    .eventWrapper .eventContent .eventDescRow#disRight {
        text-align: left;
    }
    .eventWrapper .eventContent .eventDescRow .checkInBtn {
        font-size: 1.3rem;
        border-radius: 500px;
        padding: 20px 20px;
    }
    .checkWrapper {
        margin-top: 10rem;
    }
    .row .navContent #checkinEventListing .listCheckedEvents {
        border-radius: 30px;
        padding: 1.5rem 2rem;
    }
    .row .navContent #checkinEventListing .listCheckedEvents .listRow {
        width: 100%;
    }
    .row .navContent #checkinEventListing .listCheckedEvents #queueRight {
        text-align: left;
    }
    .row .navContent #checkinEventListing .listCheckedEvents .listRow h4 {
        font-size: 1em;
        line-height: 2rem;
    }
    .row .navContent #checkinEventListing .listPastEvents .listRow,
    .row .navContent #checkinEventListing .listCurrEvents .listRow {
        width: 100%;
    }
    .row .navContent #checkinEventListing .listPastEvents,
    .row .navContent #checkinEventListing .listCurrEvents {
        border-radius: 30px;
    }
    .row .navContent #checkinEventListing .listPastEvents img,
    .row .navContent #checkinEventListing .listCurrEvents img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
        padding: 1em 2em;
    }
    .navbar-nav {
        margin-top: 2em;
    }
    .navbar-nav .nav-item {
        padding: 0;
    }
    .navbar-nav .nav-item .nav-link {
       padding: 1.2rem 0;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption {
        left: 8%;
        right: 8%;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption #descHead {
        display: none;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption #mobHead {
        display: block;
        font-size: 3em;
        margin-bottom: 1em;
    }
    .footer {
        padding: 1em 2em;
    }
    .wrapper {
        padding: 1.5em 2em;
    }
    .row .sideNav.col-lg-4,
    .row .navContent.col-lg-8 {
        width: 100%;
    }
    .row .sideNav {
        position: relative;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 10rem;
        background-color: var(--white);
        margin-left: 0;
    }
    .row .navContent {
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 10rem;
        background-color: var(--white);
        margin-left: 0;
    }
    .row .sideNav h3 {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--black);
    }
    .row .sideNav .sideNavMenu .accNavLink {
        opacity: 1;
    }
    .row .sideNav .sideNavMenu .accNavLink a h5 {
        color: var(--black);
        font-size: 1.75rem;
    }
    .row .sideNav .sideNavMenu .accNavLink hr {
        color: var(--black);
    }
    .row .sideNav .sideNavMenu .accNavLink a .accIcon.desk {
        display: none;
    }
    .row .sideNav .sideNavMenu .accNavLink a .accIcon.mob{
        display: block;
    }
    .row .sideNav .sideNavMenu .accNavLink.deskProfile {
        display: none;
    }
    .row .sideNav .sideNavMenu .accNavLink.mobProfile {
        display: block;
    }
    .row .desk {
        display: none;
    }
    .row .navContent.mob .returnBack {
        display: block;
        color: var(--secondaryColor);
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: 14px;
        font-size: 1.2rem;
        padding-bottom: 2.5rem;
    }
    .row .navContent h2 {
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }
    .row .navContent .editProfileForm .form-row .form-group label {
        font-size: 1.2rem;
    }
    .row .navContent .editProfileForm .form-row .form-group .form-control {
        padding: 1.2rem;
        font-size: 1.5rem;
    }
    .row .navContent.contactContainer {
        margin-left: 0;
    }
    .row .contact-content .overlay-dark {
        padding-left: 3em;
        padding-right: 3em
    }
    #eventHero,
    #eventHeroCheck {
        height: 94vh;
    }
    #eventHero #eventOverlay .eventHeader,
    #eventHeroCheck #eventOverlay .eventHeader {
        padding: 0rem 3rem;
    }
    #eventHero #eventOverlay .eventHeader #eventDate,
    #eventHeroCheck #eventOverlay .eventHeader #eventDateCheck {
        font-size: 2rem;
        font-weight: 500;
        padding: 2rem 3rem;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        background-color: rgba(141, 112, 219, 0.8);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .eventWrapper .eventContent .eventDescRow#disRight {
        text-align: left;
    }
    .checkWrapper {
        margin-top: 10rem;
    }
    .row .navContent #checkinEventListing .listCheckedEvents {
        padding: 1.5rem 3rem;
        border-radius: 30px;
    }
    .row .navContent #checkinEventListing .listCheckedEvents .listRow {
        width: 100%;
    }
    .row .navContent #checkinEventListing .listCheckedEvents #queueRight {
        text-align: left;
    }
    .row .navContent #checkinEventListing .listCheckedEvents .listRow h4 {
        font-size: 1.2em;
        line-height: 2rem;
    }
    .row .navContent #checkinEventListing .listPastEvents,
    .row .navContent #checkinEventListing .listCurrEvents {
        border-radius: 30px;
    }
    .row .navContent #checkinEventListing .listPastEvents img,
    .row .navContent #checkinEventListing .listCurrEvents img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
        padding: 1em 3em;
    }
    .navbar-nav {
        margin-top: 2em;
    }
    .navbar-nav .nav-item {
        padding: 0;
    }
    .navbar-nav .nav-item .nav-link {
       padding: 1.2rem 0;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption {
        left: 10%;
        right: 10%;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption #descHead {
        font-size: 3em;
        margin-bottom: 1em;
    }
    .footer {
        padding: 1em 3em;
    }
    .wrapper {
        padding: 1.5em 3em;
    }
    .row .sideNav.col-lg-4,
    .row .navContent.col-lg-8 {
        width: 100%;
    }
    .row .sideNav {
        position: relative;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 10rem;
        background-color: var(--white);
        margin-left: 0;
    }
    .row .navContent {
        padding-left: 3em;
        padding-right: 3em;
        background-color: var(--white);
        margin-left: 0;
    }
    .row .sideNav h3 {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--black);
    }
    .row .sideNav .sideNavMenu .accNavLink {
        opacity: 1;
    }
    .row .sideNav .sideNavMenu .accNavLink a h5 {
        color: var(--black);
        font-size: 1.75rem;
    }
    .row .sideNav .sideNavMenu .accNavLink hr {
        color: var(--black);
    }
    .row .sideNav .sideNavMenu .accNavLink a .accIcon.desk {
        display: none;
    }
    .row .sideNav .sideNavMenu .accNavLink a .accIcon.mob{
        display: block;
    }
    .row .sideNav .sideNavMenu .accNavLink.deskProfile {
        display: none;
    }
    .row .sideNav .sideNavMenu .accNavLink.mobProfile {
        display: block;
    }
    .row .desk {
        display: none;
    }
    .row .navContent.mob .returnBack {
        display: block;
        color: var(--primaryColor);
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: 14px;
        font-size: 1.2rem;
        padding-bottom: 2.5rem;
    }
    .row .navContent h2 {
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }
    .row .navContent .editProfileForm .form-row .form-group label {
        font-size: 1.2rem;
    }
    .row .navContent .editProfileForm .form-row .form-group .form-control {
        padding: 1.2rem;
        font-size: 1.5rem;
    }
    .row .navContent.contactContainer {
        margin-left: 0;
    }
    .row .contact-content .overlay-dark {
        padding-left: 3em;
        padding-right: 3em
    }
    #eventHero,
    #eventHeroCheck {
        height: 94vh;
    }
    #eventHero #eventOverlay .eventHeader,
    #eventHeroCheck #eventOverlay .eventHeader {
        padding: 0rem 3rem;
    }
    #eventHero #eventOverlay .eventHeader #eventDate,
    #eventHeroCheck #eventOverlay .eventHeader #eventDateCheck { 
        font-size: 2rem;
        font-weight: 500;
        padding: 2rem 3rem;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        background-color: rgba(141, 112, 219, 0.8);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .checkWrapper {
        margin-top: 10rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .wrapper .row-cols-lg-4>* {
        width: 50%;
    }
    .row .sideNav {
        padding-left: 4em;
        padding-right: 4em;
    }
    .row .sideNav h3 {
        font-size: 1.6rem;
    }
    .row .sideNav .sideNavMenu .accNavLink a .accIcon {
        width: 1.5rem;
    }
    .row .sideNav .sideNavMenu .accNavLink a h5 {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    .wrapper .row-cols-lg-4>* {
        width: 50%;
    }
}

@media (min-width: 2000px) {
    .navbar-nav .nav-item .nav-link {
        font-size: 1.3em;
        color: var(--black);
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption {
        position: absolute;
        top: 45%;
        left: 5%;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption #descHead {
        font-size: 5.5em;
    }
    #carouselExampleCaptions .carousel-inner #overlay #caroCaption .ctaButton {
        font-size: 1.5rem;
        padding: 24px 48px;
    }
}