/********** HOME ***********/
body {
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
}

.navbar {
    z-index: 9999;
    padding: 1em 5em;
    min-height: 10vh;
    box-shadow: 0px 10px 28px -5px rgba(0,0,0,0.15);
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

#carouselExampleCaptions .carousel-indicators { 
    z-index: 5;
}

#carouselExampleCaptions .carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3em;
    border-radius: 50%;
    border: 1px solid #8C6FDB;
    background-color: #8C6FDB;
    z-index: 200;
}

#carouselExampleCaptions .carousel-indicators [data-bs-target]:not(.active) {
    background-color: transparent;
}

#carouselExampleCaptions .carousel-inner .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

#carouselExampleCaptions .carousel-inner #overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.3);
    z-index: 2;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption {
    position: absolute;
    top: 40%;
    left: 6%;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption #descHead {
    display: block;
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1em;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption #mobHead {
    display: none;
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1em;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption .ctaButton {
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    border: 1px solid #6B46D1;
    background-color: #6B46D1;
    border-radius: 500px;
    padding: 20px 40px;
    transition: all ease-in-out 0.3s;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption .ctaButton:hover {
    color: #fff;
    border: 1px solid #8C6FDB;
    background-color: #8C6FDB;
}

footer {
    padding: 1em 5em;
    background-color:#6B46D1;
}

footer .copyright .text-muted p {
    color: #fff;
    margin-bottom: 0;
}

footer .social li a{
    color: #fff;
    font-size: 1.7em;
}

/********** LOGIN ***********/
.wrapper-login {
    margin-top: 10em;
    padding: 1.5em 5em;
    margin-bottom: 3em;
}

/********** EVENT LISTINGS ***********/
.wrapper {
    margin-top: 10em;
    padding: 1.5em 5em;
    margin-bottom: 8em;
}

.wrapper h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: #000;
}

.wrapper .eventListings .singleEvent .card {
    border-radius: 5%;
    background-color: #fafafa;
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.2);
}

.wrapper .eventListings .singleEvent .card img {
    height: 300px;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.wrapper .eventListings .singleEvent .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 180px;
    padding: 30px;
}

.wrapper .eventListings .singleEvent .card .card-body .card-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.wrapper .eventListings .singleEvent .card .card-body .card-text {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
}

.wrapper .eventListings .singleEvent .card .card-body .viewEvent {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    border: 1px solid #6B46D1;
    background-color: #6B46D1;
    border-radius: 500px;
    padding: 20px 20px;
    transition: all ease-in-out 0.3s;
}

.wrapper .eventListings .singleEvent .card .card-body .viewEvent:hover {
    border: 1px solid #8C6FDB;
    background-color: #8C6FDB;
}

/********** ACCOUNT SETTINGS ***********/
#accWrapper {
    margin: 0;
}

.row .sideNav {
    padding-top: 12em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    min-height: 100vh;
    background-color: #6B46D1;
}

.row .sideNav h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
}

.row .sideNav .sideNavMenu {
    list-style: none;
    padding-left: 0;
    padding-top: 3rem;
}

.row .sideNav .sideNavMenu .row {
    margin: 0;
}

.row .sideNav .sideNavMenu .accNavLink {
    width: 100%;
    opacity: 0.5;
}

.row .sideNav .sideNavMenu .accNavLink.active {
    opacity: 1;
}

.row .sideNav .sideNavMenu .accNavLink#mobProfile {
    display: none;
}

.row .sideNav .sideNavMenu .accNavLink a {
    text-decoration: none;
    align-items: center;
}

.row .sideNav .sideNavMenu .accNavLink a h5 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
}

.row .sideNav .sideNavMenu .accNavLink a .accIcon {
    width: 2rem;
}

.row .sideNav .sideNavMenu .accNavLink a .accIcon.mob{
    display: none;
}

.row .sideNav .sideNavMenu .accNavLink hr {
    margin: 1.8rem 0;
    color: #fff;
    opacity: 0.3;
}

.row .navContent {
    padding-top: 12em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    min-height: 100vh;
}

.row .navContent h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    padding-bottom: 3rem;
}

.row .navContent .editProfileForm .form-row {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    padding: 1rem 0;
}

.row .navContent .editProfileForm .form-row .col-lg-6 {
    width: 48%;
}

.row .navContent .editProfileForm .form-row .form-group label {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
}

.row .navContent .editProfileForm .form-row .form-group .form-control {
    color: #000;
    opacity: 1;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
    border-bottom: solid #000 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-radius: 0;
}

.row .navContent .editProfileForm .form-row .form-group .form-control:focus {
    border-bottom: solid #000 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.row .navContent .editProfileForm .accSubmit {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 40px;
    color: #fff;
    background-color: #6B46D1;
    border: solid #6B46D1 2px; 
    border-radius: 500px; 
    transition: all ease-in-out 0.3s;
}

.row .navContent .editProfileForm .accSubmit:hover {
    color: #8C6FDB;
    border: 2px solid #8C6FDB;
    background-color: #fff;
}

/********** SINGLE EVENT PAGE SETTINGS ***********/

.card-img-top {
    height: .3fr;
}

.card {
    padding: 10px;
}