:root {
    --primaryColor: #8C6FDB;
    --secondaryColor: #6B46D1;
    --black: #000000;
    --white: #ffffff;
}

/********** HOME ***********/
body {
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
}

.navbar {
    z-index: 9999;
    padding: 1em 5em;
    min-height: 10vh;
    box-shadow: 0px 10px 28px -5px rgba(0,0,0,0.15);
}

.navbar-nav .nav-item.logged-in,
.navbar-nav .nav-item.logged-out {
    display: none;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    color: var(--black);
    font-weight: 300;
}

.navbar-nav .nav-item .nav-link.active {
    font-size: 18px;
    color: var(--secondaryColor);
    font-weight: 700;
}

#carouselExampleCaptions .carousel-indicators { 
    z-index: 5;
}

#carouselExampleCaptions .carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3em;
    border-radius: 50%;
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
    z-index: 200;
}

#carouselExampleCaptions .carousel-indicators [data-bs-target]:not(.active) {
    background-color: transparent;
}

#carouselExampleCaptions .carousel-inner .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

#carouselExampleCaptions .carousel-inner #overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.3);
    z-index: 2;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption {
    position: absolute;
    top: 40%;
    left: 6%;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption #descHead {
    display: block;
    font-size: 4em;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1em;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption #mobHead {
    display: none;
    font-size: 4em;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1em;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption .ctaButton {
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    border-radius: 500px;
    padding: 20px 40px;
    transition: all ease-in-out 0.3s;
}

#carouselExampleCaptions .carousel-inner #overlay #caroCaption .ctaButton:hover {
    color: var(--white);
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
}

footer {
    padding: 1em 5em;
    background-color: var(--secondaryColor);
}

footer .copyright .text-muted p {
    color: var(--white);
    margin-bottom: 0;
}

footer .social li a{
    color: var(--white);
    font-size: 1.7em;
}

/********** LOGIN ***********/
.wrapper-login {
    margin-top: 10em;
    padding: 1.5em 5em;
    margin-bottom: 3em;
}

/********** EVENT LISTINGS ***********/
.wrapper {
    margin-top: 10em;
    padding: 1.5em 5em;
    margin-bottom: 8em;
}

.wrapper h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: var(--black);
}

.wrapper .eventListings .singleEvent .card {
    border-radius: 5%;
    background-color: var(--white);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.2);
}

.wrapper .eventListings .singleEvent .card img {
    height: 300px;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.wrapper .eventListings .singleEvent .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 180px;
    padding: 30px;
}

.wrapper .eventListings .singleEvent .card .card-body .card-title {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 1em;
}

.wrapper .eventListings .singleEvent .card .card-body .card-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 30px;
}

.wrapper .eventListings .singleEvent .card .card-body .viewEvent {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    border-radius: 500px;
    padding: 20px 20px;
    transition: all ease-in-out 0.3s;
}

.wrapper .eventListings .singleEvent .card .card-body .viewEvent:hover {
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
}

/********** ACCOUNT SETTINGS ***********/
#accWrapper {
    margin: 0;
}

.row .sideNav {
    position: fixed;
    padding-top: 10em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    min-height: 100vh;
    background-color: var(--secondaryColor);
}

.row .sideNav h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.row .sideNav .sideNavMenu {
    list-style: none;
    padding-left: 0;
    padding-top: 3rem;
}

.row .sideNav .sideNavMenu .row {
    margin: 0;
}

.row .sideNav .sideNavMenu .accNavLink {
    width: 100%;
    opacity: 0.5;
    transition: all ease-in-out 0.3s;
}

.row .sideNav .sideNavMenu .accNavLink:hover {
    opacity: 0.8;
}

.row .sideNav .sideNavMenu .accNavLink.active {
    opacity: 1;
}

.row .sideNav .sideNavMenu .accNavLink.mobProfile {
    display: none;
}

.row .sideNav .sideNavMenu .accNavLink a {
    text-decoration: none;
    align-items: center;
}

.row .sideNav .sideNavMenu .accNavLink a h5 {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
}

.row .sideNav .sideNavMenu .accNavLink a .accIcon {
    width: 2rem;
}

.row .sideNav .sideNavMenu .accNavLink a .accIcon.mob{
    display: none;
}

.row .sideNav .sideNavMenu .accNavLink hr {
    margin: 1.8rem 0;
    color: var(--white);
    opacity: 0.3;
}

.row .navContent {
    padding-top: 10em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 10em;
    margin-left: calc(100% / 3);
    min-height: 100vh;
}

.row .navContent.mob .returnBack {
    display: none;
}

.row .navContent h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    padding-bottom: 1rem;
}

.row .navContent p a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primaryColor);
    padding-bottom: 1rem;
}

.row .navContent .editProfileForm .form-row {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    padding: 1rem 0;
}

.row .navContent .editProfileForm .form-row .col-lg-6 {
    width: 48%;
}

.row .navContent .editProfileForm .form-row .form-group label {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    opacity: 0.5;
}

.row .navContent .editProfileForm .form-row .form-group .form-control {
    color: var(--black);
    opacity: 1;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 500;
    border-bottom: solid var(--black) 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-radius: 0;
}

.row .navContent .editProfileForm .form-row .form-group .form-control:focus {
    border-bottom: solid var(--black) 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.row .navContent .editProfileForm .accSubmit {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 40px;
    color: var(--white);
    background-color: var(--secondaryColor);
    border: solid var(--secondaryColor) 2px; 
    border-radius: 500px; 
    transition: all ease-in-out 0.3s;
}

.row .navContent .editProfileForm .accSubmit:hover {
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    background-color: var(--white);
}

/********** MY EVENTS ***********/
.row .navContent #checkinEventListing {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row .navContent #checkinEventListing #noEventMessage {
    margin-bottom: 1rem;
}

.row .navContent #checkinEventListing .listCheckedEvents {
    background-color: var(--white);
    border-radius: 500px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    padding: 1.5rem 2rem;
    margin: 0.5rem 0;
}

.row .navContent #checkinEventListing .listCheckedEvents h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;

}

/********** NOTIFICATIONS ***********/
.row .navContent .editProfileForm .noti-row {
    padding: 1.2rem 0;
}

.row .navContent .editProfileForm .noti-row .form-switch {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row .navContent .editProfileForm .noti-row .form-switch .form-check-label {
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    color: var(--black);
    opacity: 1;
}

.row .navContent .editProfileForm .noti-row .form-switch .form-check-input {
    width: 3rem;
    height: 1.5rem;
}

/********** PRIVACY POLICY ***********/
.privPolicy h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

.privPolicy h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
}

.privPolicy p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
}

/********** CONTACT DETAILS ***********/
.row .navContent.contactContainer {
    padding: 0;
    margin-left: calc(100% / 3);
    min-height: 100vh;
}

.row .contact-content {
    background-image: url("../images/events3.jpg");
    height: 100%;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
    z-index:1;
}
.row .contact-content:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    -webkit-backdrop-filter: blur(7px);
    -o-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
    -ms-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index:-1;
}

.row .contact-content .overlay-dark {
    background: rgba(0, 0, 0, 0.75);
    height:100%;   
    padding-top: 12em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 10em;
}

.row .contact-content .overlay-dark h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    padding-bottom: 1rem;
}

.row .contact-content .overlay-dark hr {
    margin: 2.5rem 0;
    color: var(--white);
    opacity: 0.5;
}

.row .contact-content .overlay-dark p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
    padding: 0.5rem 0;
    line-height: 1rem;
}

.row .contact-content .overlay-dark p a {
    color: var(--primaryColor);
    transition: all ease-in-out 0.3s;
}

.row .contact-content .overlay-dark p a:hover {
    color: var(--secondaryColor);
}

/********** SINGLE EVENT PAGE SETTINGS ***********/
#eventHero {
    background-image: url("../images/events1.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#eventHero:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#eventHero #eventOverlay {
    background: linear-gradient(0deg, var(--black), transparent, transparent);
    height: 100%;
}

#eventHero #eventOverlay .eventHeader {
    padding: 0rem 5rem;
    display: flex;
    flex-direction: row;
}

#eventHero #eventOverlay .eventHeader h1 {
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    bottom: 12rem;
    color: var(--white);
    padding: 1rem 1rem;
    background-color: rgba(81, 64, 128, 0.5);
}

#eventHero #eventOverlay .eventHeader a {
    font-size: 1.3rem;
    text-decoration: underline;
    font-weight: 400;
    position: absolute;
    bottom: 18rem;
    color: var(--white);
    cursor: pointer;
}

#eventHero #eventOverlay .eventHeader .eventDate {
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 5rem;
    color: var(--white);
    position: absolute;
    bottom: 12rem;
    right: 0;
    background-color: rgba(114, 90, 179, 0.418);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#eventHero #eventOverlay .eventHeader .eventDate:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(141, 112, 219, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    z-index: 0;
}

#eventHero #eventOverlay .eventHeader .eventDate span {
    position: relative;
    z-index: 1;
}

.eventWrapper {
    margin-top: 0;
    padding: 7.5em 5em;
    margin-bottom: 5rem;
}

.eventWrapper .eventDetails {
    width: 100%;
    margin: 0;
}

.eventWrapper .eventDetails .eventDescRow {
    padding: 1.5rem 0;
}

.eventWrapper .eventDetails .eventDescRow#eventTime {
    text-align: right;
    font-size: 1.7rem;
}

.eventWrapper .eventDetails .eventDescRow h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.eventWrapper .eventDetails .eventDescRow h3 span {
    color: var(--primaryColor);
}

.eventWrapper .eventDetails .eventDescRow p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--black);
    line-height: 2rem;
}

.eventWrapper .eventDetails .eventDescRow p a {
    font-weight: 700;
    color: var(--primaryColor);
}

.eventWrapper .eventDetails .eventDescRow label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black);
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.eventWrapper .eventDetails .eventDescRow #eventDetails {
    font-size: 1.2rem;
}
.eventWrapper .eventDetails .eventDescRow.card {
    border: none;
}

.eventWrapper .eventDetails .eventDescRow .checkInBtn {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    border: 1px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    border-radius: 500px;
    padding: 24px 20px;
    transition: all ease-in-out 0.3s;
    margin: 1rem 0;
}

.eventWrapper .eventDetails .eventDescRow .checkInBtn:hover {
    color: var(--white);
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
}

.checkWrapper {
    margin-top: 5rem;
}

#map-widget {
    width: 100%
}